@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.labelsContainer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.radioInput {
	display: none;
}

.radioInput + label {
	padding: 2px $padding-small;
	margin-right: $margin-small;
	border-radius: $border-radius-light;
	color: white;
	font-size: $font-size-extra-large;
	font-weight: $extra-bold-weight;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		padding: 2px $padding-small;
		border-radius: $border-radius-light;
		background-color: $valid-primary;
		transition: $smooth-transition;
	}
}

.radioInput:checked + label {
	background-color: $valid-primary;
}
