@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.labelsContainer {
	width: 18%;
	margin: $margin-small auto 0 auto;
	display: flex;
	justify-content: space-between;
}

.radioInput {
	display: none;
}

.radioInput + label {
	padding: 2px $padding-small;
	border-radius: $border-radius-light;
	font-size: $font-size-extra-large;
	font-weight: $extra-bold-weight;
	cursor: pointer;
	&:hover {
		padding: 2px $padding-small;
		border-radius: $border-radius-light;
		background-color: $valid-primary;
		transition: $smooth-transition;
	}
}

.radioInput:checked + label {
	background-color: $valid-primary;
}
