@import '../../../../scss/variables';
@import '../../../../scss/mixins';

$primary-target-color: white;
$secondary-target-color: rgb(226, 76, 106);
$opacity: 0.7;
$index: 1;
$base-value: 140px;

.scoreContainer {
	@include flexCenter(row);
	width: 150px;
	height: 150px;
	margin-top: 28px;
}

// For correct background opacity on the first circle
.background {
	@include flexCenter(row);
	width: 140px;
	height: 140px;
	border-radius: 100%;
	background-color: white;
}

// Loop for cercles (7)
@while $index < 7 {
	.circle#{$index} {
		float: left;
		position: absolute;
		border-radius: $border-radius-full;
		opacity: $opacity;
		background-color: $primary-target-color;
		width: $base-value;
		height: $base-value;
		&:nth-child(odd) {
			background-color: $secondary-target-color;
		}
	}
	$index: $index + 1;
	$base-value: $base-value - 20px;
}

.score {
	position: absolute;
	font-size: 58px;
	font-weight: $extra-bold-weight;
	color: black;
	text-shadow: 1px 1px 1px white;
}
