.table {
  color: white;
  font-size: 16px;
};

.selectedRules {
  display: flex;
  margin: 10px 0;
};

.rule {
  background-color: #50C878;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  margin-right: 8px;
};