@import '../../../scss/variables';
@import '../../../scss/mixins';

.teamsContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: $margin-medium2;
	&:last-child {
		border-right: none;
	}
}

.teamBox {
	display: flex;
	width: 50%;
	margin-bottom: $margin-small;
}

.teamBoxPerThree {
	width: calc(100% / 3);
}

.teamNameLabel {
	@include flexCenter(row);
	width: 10%;
	background-color: $target-beige;
	color: $custom-black;
	font-size: 26px;
	border-radius: 5px;
	font-weight: $extra-bold-weight;
	-webkit-writing-mode-: sideways-lr;
	writing-mode: sideways-lr;
}

.playersNameContainer {
	width: 25%;
	padding-left: $padding-small;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.playerName {
	font-style: italic;
	font-size: $font-size-medium;
	font-weight: $bold-weight;
	margin-top: 2px;
}

.teamScore {
	@include flexCenter(column);
	width: 65%;
}

.playerNameOn {
	border-radius: $border-radius-large;
	position: relative;
	animation: playerTurn 1s;
	animation-fill-mode: forwards;
}

.playerNameOnSecond {
	border-radius: $border-radius-large;
	position: relative;
	animation: playerTurn2 1s;
	animation-fill-mode: forwards;
}

.dartsContainer {
	display: flex;
}

// Animation for player turn visibility (.playerNameOn)
@keyframes playerTurn {
	from {
		color: white;
		top: 0%;
		left: 0%;
	}
	to {
		text-align: center;
		color: #383838;
		background-color: rgb(249, 249, 87);
		top: 80%;
		left: 190%;
	}
}

// Animation for player turn visibility (.playerNameOn)
@keyframes playerTurn2 {
	from {
		color: white;
		top: 0%;
		left: 0%;
	}
	to {
		text-align: center;
		color: #383838;
		background-color: rgb(249, 249, 87);
		top: 30%;
		left: 190%;
	}
}

.cancelAndMultiplierContainer {
	display: flex;
	margin: $margin-small 0;
	align-items: center;
}
