.teamsContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	&:last-child {
		border-right: none;
	}
}

// ====== TEAM NAME, PLAYERS NAMES, DARTS AND SCORE ======

.teamBox {
	display: flex;
	width: 50%;
	margin-bottom: 20px;
}

.teamNameLabel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10%;
	background-color: #383838;
	font-size: 26px;
	border-radius: 5px;
	color: white;
	font-style: italic;
	writing-mode: sideways-lr;
}

.teamNames {
	width: 25%;
	padding-left: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.teamScore {
	width: 65%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.playerName {
	color: white;
	font-style: italic;
	font-size: 16px;
}

.playerNameOn {
	color: #50c878;
	text-transform: uppercase;
	font-size: 18px;
	text-shadow: 1px 1px 1px black;
}

.dartsContainer {
	display: flex;
}
