@import '../../../scss/variables';
@import '../../../scss/mixins';

.squareButton {
	@include flexCenter(row);
	height: 50px;
	width: 50px;
	margin-right: $margin-small;
	font-size: 28px;
	color: $custom-black;
	background-color: white;
	border-radius: 5px;
	border: 2px solid white;
	&:hover:enabled {
		border: 2px solid $target-green;
		color: $target-green;
		cursor: pointer;
		font-size: 40px;
		transition: all 0.2s ease-out;
	}
	&:disabled {
		color: lightgray;
	}
}
