@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.superLabel {
	font-size: $font-size-large;
	font-weight: $extra-bold-weight;
	margin-bottom: $margin-small;
	padding-left: $padding-small;
	word-spacing: 4px;
	&::before {
		content: '';
		background-color: #f7deb6;
		display: inline-block;
		height: 3px;
		width: 20px;
		margin-right: 8px;
		margin-bottom: 5px;
	}
	&::after {
		content: '';
		background-color: #f7deb6;
		display: inline-block;
		height: 3px;
		width: 20px;
		margin-left: 8px;
		margin-bottom: 5px;
	}
}

.radioBox {
	display: flex;
}

.radio {
	@include flexCenter(row);
	margin-right: $margin-medium;
	background-color: white;
	border-radius: $border-radius-medium;
	&:hover {
		transform: translate(6px, -4px);
		transition: $smooth-transition;
	}
}

.isClicked {
	@include flexCenter(row);
	margin-right: $margin-medium;
	background-color: white;
	border-radius: $border-radius-medium;
	transform: translate(0);
}

.input {
	display: none;
}

.input + label {
	padding: $padding-extra-small $padding-medium;
	border-radius: $border-radius-medium;
	color: $custom-black;
	cursor: pointer;
	&:hover {
		background-color: $valid-primary;
		color: $custom-white;
		transition: $smooth-transition;
	}
}

.input:checked + label {
	background-color: $valid-primary;
	color: $custom-white;
}
