@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.superLabel {
	font-size: $font-size-large;
	font-weight: $extra-bold-weight;
	margin-bottom: $margin-small;
	padding-left: $padding-small;
	word-spacing: 4px;
}

.radioBox {
	display: flex;
}

.radio {
	@include flexCenter(row);
	margin-right: $margin-medium;
}

.input {
	display: none;
}

.input + label {
	padding: $padding-small;
	border-radius: $border-radius-light;
	cursor: pointer;
	&:hover {
		background-color: $valid-primary;
		transition: $smooth-transition;
	}
}

.input:checked + label {
	background-color: $valid-primary;
}
