.inputsBox {
  display: flex;
  margin: 10px 0;
};

.addAndRemovePlayers {
  margin-top: 4px;
  display: flex;
};

.addAndRemoveTeams {
  margin-bottom: 10px;
};

.emptyDiv {
  height: 20px;
};

.startAndResetButtons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
};