.inputsBox {
  display: flex;
  align-items: center;
  margin: 10px 0;
};

.buttonContainer {
  display: flex;
  align-items: center;
};

.addButton {
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover:enabled {
    border: 2px solid #43C6AC;
    color: #43C6AC;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
};

.CheckCircleContainer {
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
};

.checkCircleIcon {
  color: #50C878;
};

.startButton {
  display: flex;
  justify-content: center;
}