@import '../../../scss/variables';
@import '../../../scss/mixins';

.inputsBox {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 10px 0;
}

.addAndRemovePlayers {
	margin-top: 4px;
	display: flex;
}

.addAndRemoveTeams {
	margin-bottom: $margin-small;
}

.emptyDiv {
	height: 20px;
}

.startAndResetButtons {
	@include flexCenter(row);
	margin-top: $margin-medium2;
}
