@import '../../../../scss/variables';

.container {
	margin: $margin-small 0 $margin-medium2 0;
}

.label {
	font-size: $font-size-medium;
	font-style: italic;
	font-weight: $bold-weight;
	margin: 0 0 $margin-extra-small $margin-extra-small;
	word-spacing: 4px;
}

.chipContainer {
	display: flex;
}

.chip {
	font-size: $font-size-small;
	background-color: $valid-primary;
	padding: $padding-extra-small $padding-medium;
	border-radius: $border-radius-large;
	margin-right: $margin-small;
}
