@import '../../../../scss/variables';
@import '../../../../scss/mixins';

$border-radius: 10px;

.container {
	display: flex;
	align-items: end;
	width: 50%;
	height: 350px;
	padding: $padding-medium;
}

.column {
	width: calc(100% / 3);
}

.step {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: $font-size-large;
	background-color: $valid-primary;
	box-shadow: 2px -2px 0 2px white;
}

.step2 {
	border-radius: $border-radius 0 0 $border-radius;
	background-color: $valid-primary;
	animation: podiumStep2 1.5s ease-out forwards; // height: 160px
}

.step1 {
	border-radius: $border-radius $border-radius 0 0;
	border-left: 1px solid white;
	border-right: 1px solid white;
	background-color: $target-green;
	animation: podiumStep1 1.5s ease-out forwards; // height: 240px
}

.step3 {
	border-radius: 0 $border-radius $border-radius 0;
	background-color: #25b054;
	animation: podiumStep3 1.5s ease-out forwards; // height: 110px
}

.labelContainer {
	display: block;
	overflow: hidden;
	margin-bottom: $margin-small;
	color: $custom-white;
	font-size: $font-size-large;
	text-align: center;
}

.label {
	transform: translateY(100%);
	animation: textFadeIn 0.5s ease forwards;
	animation-delay: 2s;
}

.value {
	margin: 8px 0;
	font-size: $font-size-extra-large;
	text-shadow: 1px 1px 1px black;
	animation: progressiveOpacity 2s forwards;
}

.medal {
	margin-bottom: 30px;
	animation: progressiveOpacity 2s forwards;
}
