@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.label {
	margin-bottom: $margin-small;
	font-size: $font-size-large;
	text-shadow: 1px 1px 1px black;
}

.percent {
	margin-top: 4px;
	margin-bottom: 8px;
	font-style: italic;
	animation: progressiveOpacity 2.5s ease-out forwards;
}

.barContainer {
	display: block;
	overflow: hidden;
	height: 25px;
}

.bar {
	font-style: italic;
	font-size: $font-size-small;
	position: relative;
	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: -4px;
		height: 4px;
		border-radius: $border-radius-large 0 0 $border-radius-large;
		background-color: $target-red;
	}
	&::before {
		z-index: 1;
		transform: translateX(-100%);
		animation: barBefore 2s ease-in-out forwards;
	}
	&::after {
		right: 0;
		border-radius: 0 $border-radius-large $border-radius-large 0;
		background-color: white;
		transform: translateX(-100%);
		animation: 2s barAfter ease-in-out forwards;
	}
}

.bar1 {
	&::before {
		width: 20%;
	}
	&::after {
		width: 80%;
	}
}

.bar2 {
	&::before {
		width: 5%;
	}
	&::after {
		width: 95%;
	}
}

.bar3 {
	&::before {
		width: 50%;
	}
	&::after {
		width: 50%;
	}
}

@keyframes barBefore {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes barAfter {
	0% {
		transform: translateX(-200%);
	}
	100% {
		transform: translateX(0%);
	}
}
