@import '../../scss/variables';
@import '../../scss/mixins';

.title {
	text-align: center;
	font-size: $font-size-big;
	font-weight: $extra-bold-weight;
}

.content {
	margin: 20px 0;
	text-align: center;
}

.startButton {
	@include flexCenter(row, $valid-primary);
	margin: 0 auto;
	color: $custom-white;
	text-decoration: none;
	padding: $padding-small;
	border: none;
	border-radius: $border-radius-light;
	&:hover {
		background-color: $custom-white;
		color: $valid-primary;
		transition: $smooth-transition;
	}
}
