.container {
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #43c6ac;
	background: -webkit-linear-gradient(to right, #191654, #43c6ac);
	background: linear-gradient(to right, #191654, #43c6ac);
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
