@import '../../../scss/variables';
@import '../../../scss/mixins';

.container {
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: $custom-black;
	border-radius: 10px;
	width: 65%;
	height: fit-content;
	// min-height: 70%;
	max-height: max(82%);
	overflow: auto;

	// ---- SCROLLBAR ----
	// Mozilla firefox
	scrollbar-color: #aaa transparent;
	scrollbar-width: thin;
	// Global
	&::-webkit-scrollbar {
		width: 8px;
	}
	// Ascenseur
	&::-webkit-scrollbar-thumb {
		background: #aaa;
		border-radius: 8px;
	}
}
