@import '../../../scss/variables';
@import '../../../scss/mixins';

.container {
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $custom-black;
}
