.chipContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
};

.redBackground {
  width: 150px;
  background-color: crimson;
  color: white;
};

.greenBackground {
  width: 150px;
  background-color: forestgreen;
  color: white;
};

.blackBackground {
  background-color: #383838;
  color: white;
};