.chipContainer {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	font-weight: 700;
	font-size: 24px;
	font-style: italic;
	background-color: #383838;
	color: white;
}

.smallChip {
	padding: 4px;
	font-size: 22px;
}
