@import '../../../scss/variables';
@import '../../../scss/mixins';

.chipContainer {
	@include flexCenter(row, $target-beige);
	@include fontStyles($font-size-extra-large, italic, $bold-weight, $custom-black);
	padding: 10px;
	border-radius: $border-radius-light;
}

.smallChip {
	padding: $padding-extra-small;
	font-size: $font-size-large;
	color: $custom-white;
}
