.chipContainer {
  padding: 10px;
  // width: 150px; -> occupe toute la largeur du bloc ou juste une partie ?
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
};

.redBackground {
  background-color: crimson;
  color: white;
};

.greenBackground {
  background-color: forestgreen;
  color: white;
};

.blackBackground {
  // background-color: #efd7b3;
  // color: #18181b;
  background-color: #383838;
  color: white;
};