.winningTeamTitle {
	text-align: center;
	color: white;
	font-style: italic;
	margin: 20px 0;
}

.stats {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0 20px 0;
	color: black;
	font-size: 30px;
	height: 200px;
	background-color: white;
	border-radius: 20px;
}
