@import '../../../scss/variables';
@import '../../../scss/mixins';

.winnerTeam {
	width: fit-content;
	margin: $margin-medium auto;
	padding: $padding-small;
	font-size: $font-size-extra-large;
	color: white;
	border-radius: $border-radius-large;
}

.stats {
	@include flexCenter(row);
	color: $custom-white;
	font-size: $font-size-medium;
}

.leftSide {
	@include flexCenter(row);
	width: 50%;
	padding: $padding-medium;
}
