@import '../../../scss/variables';
@import '../../../scss/mixins';

.winnerTeam {
	width: fit-content;
	margin: $margin-medium auto;
	padding: $padding-small;
	font-size: $font-size-extra-large;
	color: white;
	border-radius: $border-radius-large;
}

.stats {
	@include flexCenter(row);
	color: $custom-white;
	font-size: $font-size-medium;
}

.leftSide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	height: 350px;
	padding: $padding-medium;
}
