.input {
  padding: 15px;
  margin: 0 14px 0 0;
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
  font-size: 16px;
  &:invalid[data-focused=true] {
    border: 2px solid red;
    background-color: rgb(255, 231, 231);
    outline: none;
  };
  &:valid {
    border: 2px solid green;
    outline: none;
  }
};

.errorMessage {
  font-size: 12px;
  padding-left: 4px;
  color: transparent;
  height: 20px;
  margin-bottom: -20px;
};

.input:invalid[data-focused=true] ~ .errorMessage {
  color: red;
  margin-bottom: -20px;
}; 
