.input {
  padding: 15px;
  margin: 0 14px 0 0;
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
  font-size: 16px;
  &:invalid[data-focused=true] {
    border: 2px solid red;
    outline: none;
  };
};

.errorMessage {
  font-size: 12px;
  padding: 4px;
  color: red;
  display: none;
  height: 20px;
};

.input:invalid[data-focused=true] ~ .errorMessage {
  display: block;
}; 
