@import '../../../../scss/variables';
@import '../../../../scss/mixins';
// -- Buttons : even and odd --

.buttonsContainer {
	display: flex;
	justify-content: center;
	margin-top: 5px;
	flex-wrap: wrap;
	border: 1px solid white;
	border-radius: 10px;
	overflow: hidden;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	color: white;
	font-style: italic;
	font-size: 20px;
	height: 30px;
	background-color: #21485a;
	border: none;
	cursor: pointer;
	&:hover:enabled {
		color: #21485a;
		background-color: white;
		font-size: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s all ease;
	}
	&:nth-child(even) {
		background-color: #132735;
		&:hover {
			color: #132735;
			background-color: white;
		}
	}
}

// -- Three last buttons : missed, 50 and 25 --

.threeLastButtonsContainer {
	display: flex;
	justify-content: center;
}

.missed {
	background-color: red;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	border-radius: 0 0 0 10px;
	&:hover:enabled {
		color: red;
		background-color: white;
		font-size: 22px;
	}
}

// Exception (about &:nth-child(even) of button class)
.fiftyButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	color: black;
	font-style: italic;
	font-size: 20px;
	height: 30px;
	background-color: yellow;
	border: none;
	border-bottom: 1px solid white;
	cursor: pointer;
	&:hover:enabled {
		color: black;
		background-color: white;
		font-size: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s all ease;
	}
	&:disabled {
		cursor: default;
		background-color: lightgray;
	}
}

.twentyFive {
	background-color: green;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-radius: 0 0 10px 0;
	&:hover:enabled {
		color: green;
		background-color: white;
	}
	&:disabled {
		cursor: default;
		background-color: gray;
	}
}
