@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.buttonsContainer {
	@include flexCenter(row);
	flex-wrap: wrap;
	border: 1px solid white;
}

// General button (odd) and even button
.button {
	@include flexCenter(row, $target-beige);
	width: 10%;
	height: 40px;
	font-size: $font-size-large;
	font-weight: $extra-bold-weight;
	color: $custom-black;
	border: none;
	cursor: pointer;
	&:nth-child(even) {
		background-color: $custom-black;
		color: white;
		&:hover {
			color: $custom-black;
			background-color: white;
			transition: $quick-transition;
		}
	}
	&:nth-child(n + 11) {
		&:nth-child(odd) {
			background-color: $custom-black;
			color: white;
		}
		&:nth-child(even) {
			background-color: $target-beige;
			color: $custom-black;
		}
	}
	&:hover:enabled {
		@include flexCenter(row, white);
		font-size: $font-size-extra-large;
		color: $custom-black;
		transform: scale(1.3);
		border-radius: $border-radius-large;
		border: 1px solid $custom-black;
		transition: $quick-transition;
	}
}

// Three last buttons (missed, 50 and 25)
.threeLastButtonsContainer {
	@include flexCenter(row);
}

.missed {
	width: 20%;
	background-color: $default-team2;
	color: $custom-white;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	&:hover:enabled {
		color: $default-team2;
		background-color: $custom-white;
		font-size: $font-size-large;
	}
}

// Exception (about &:nth-child(even) of button class)
.fiftyButton {
	@include flexCenter(row);
	width: 20%;
	height: 40px;
	font-size: $font-size-large;
	font-weight: $extra-bold-weight;
	color: $custom-black;
	background-color: $custom-yellow;
	border: none;
	border-bottom: 1px solid white;
	cursor: pointer;
	&:hover:enabled {
		background-color: white;
		font-size: $font-size-extra-large;
		transform: scale(1.3);
		border-radius: $border-radius-large;
		border: 1px solid $custom-black;
		transition: $quick-transition;
	}
	&:disabled {
		cursor: default;
		background-color: $disabled-primary;
	}
}

.twentyFive {
	width: 20%;
	background-color: $default-team1;
	color: $custom-white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	&:hover:enabled {
		color: $default-team1;
		background-color: white;
	}
	&:disabled {
		cursor: default;
		background-color: $disabled-secondary;
	}
}
