.mainContainer {
	background-image: url('https://images.pexels.com/photos/1424745/pexels-photo-1424745.jpeg');
	// background-image: url("https://cdn.pixabay.com/photo/2019/11/08/09/25/darts-4610861_1280.jpg");
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
