.background {
  background-image: url("https://images.pexels.com/photos/1424745/pexels-photo-1424745.jpeg");
  // background-image: url("https://cdn.pixabay.com/photo/2019/11/08/09/25/darts-4610861_1280.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
};

.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
};

.title {
  font-size: 54px;
  font-style: italic;
  font-weight: 900;
  width: 60%;
  color: #18181b;
  text-shadow: 1px 1px 4px white;
};