@mixin flexCenter($direction, $background-color: null, $background-image: null) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
	background-color: $background-color;
	background-image: $background-image;
	@if ($background-image) {
		background-size: cover;
	}
}

@mixin fontStyles($font-size, $font-style, $font-weight, $color) {
	font-size: $font-size;
	font-style: $font-style;
	font-weight: $font-weight;
	color: $color;
}
