@import './variables';
@import './mixins';

// Google font : Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	color: $custom-white;
}

.mainContainer {
	@include flexCenter(
		column,
		null,
		url('https://images.pexels.com/photos/1424745/pexels-photo-1424745.jpeg')
	);
	height: 100vh;
}
