@import '../../../scss/variables';
@import '../../../scss/mixins';

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

// General styles

* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: 'Secular One', sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: white;
}

// MainContainer styles

.titleContainer {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	margin: 10px 0 0 10px;
	font-size: 34px;
}

.appContainer {
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(60%);
}

// Background

.background {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: white;
}

.picture {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	height: 35%;
	border-bottom-left-radius: 100%;
	background-image: url('https://images.pexels.com/photos/1424745/pexels-photo-1424745.jpeg');
	background-size: cover;
	opacity: 0.6;
}

.wave1 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70%;
	background: url('../../../../public/svg/wave1.svg');
	background-size: cover;
	animation: wave 30s linear infinite;
	animation-delay: 0s;
	z-index: 1;
	opacity: 1;
}

.wave2 {
	position: absolute;
	bottom: 20%;
	left: 0;
	width: 100%;
	height: 50%;
	background: url('../../../../public/svg/wave2.svg');
	background-size: cover;
	animation: wave 10s linear infinite;
	animation-delay: -5s;
	z-index: 0;
	opacity: 0.5;
}

@keyframes wave {
	0% {
		background-position-x: 0;
	}
	25% {
		background-position-x: 50%;
	}
	50% {
		background-position-x: 100%;
	}
	75% {
		background-position-x: 50%;
	}
	100% {
		background-position-x: 0;
	}
}
