@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: $border-radius-light;
	width: min(200px);
}

.input {
	width: 80%;
	padding: $padding-small;
	margin: 2px;
	border-radius: $border-radius-light;
	font-weight: $extra-bold-weight;
	font-size: $font-size-extra-large;
	word-spacing: 4px;
	text-align: center;
	&:disabled {
		cursor: default;
		outline: none;
		border: none;
	}
}

.editIcon {
	margin-right: $margin-small;
	cursor: pointer;
	&:hover {
		background-color: $custom-black;
		border-radius: 4px;
	}
}
